<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>VHS</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://www.vhsindia.org/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Playfair+Display:400,700i"
        rel="stylesheet">
    <meta property="og:title" content="Virat Hindustan Sangam">
    <meta property="og:image" content="https://www.vhsindia.org/images/vhsindia.jpeg?v=1">
    <meta name="twitter:title" content="Virat Hindustan Sangam">
    <meta name="twitter:image" content="https://www.vhsindia.org/images/vhsindia.jpeg?v=1">
</head>

<body>
    <header id="header">
        <div id="logopanel">
            <div class="container">
                <div id="wow"><a href="https://www.youtube.com/c/virathindustansangam"><span></span></a></div>
                <div id="mobmenu">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
                <div id="logo"><a href="https://www.vhsindia.org/"><span>VHS</span></a></div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="hd">
            <div class="container">
                <div id="centeredmenu">
                    <ul>
                        <li><a href="https://www.vhsindia.org/">Home</a></li>
                        <li><a href="https://www.vhsindia.org/about-us">About VHS</a>
                            <ul>
                                <li><a href="https://www.vhsindia.org/about-swamy">About Dr.Swamy</a></li>
                                <li><a href="https://www.vhsindia.org/meet-our-team">Our Team</a></li>
                                <li><a href="https://www.vhsindia.org/resources/picture-gallery/">Photo Gallery</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.vhsindia.org/events">Events</a>
                            <ul>
                                <li><a href="https://www.vhsindia.org/events">All Events</a></li>
                                <li><a href="https://www.vhsindia.org/event-calendar">Events Calendar</a></li>
                                <li><a href="https://www.vhsindia.org/resources/event-gallery/">Events Gallery</a></li>
                            </ul>
                        </li>
                        <li><a href="https://www.vhsindia.org/videos">Videos</a></li>
                        <li><a href="https://www.vhsindia.org/buy-books-online">Buy Books</a></li>
                        <li><a href="https://www.vhsindia.org/resources">Resources</a></li>
                        <li><a href="https://www.vhsindia.org/donate">Donate</a></li>
                        <li><a href="https://www.vhsindia.org/join-vhs" class="last">Join VHS</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </header>
    <section id="masthead">
        <div class="imres"><img src="images/abtswamiim.jpg" alt=""></div>
    </section>
    <div id="main3">
        <section id="meetpanel">
            <div class="container">
                <div id="meetpanelt">
                    <h1 id="pagehead">About Dr. Subramanian Swamy</h1>
                    <p>National President</p>
                    <p><a href="#" class="social tw">@swamy39</a>
                    <div class="clear"></div>
                    </p>
                    <p>Dr. Subramanian Swamy (born 15 September 1939) is an Indian politician, economist and
                        statistician who serves as a nominated Member of Parliament in Rajya Sabha, the upper house of
                        the Indian Parliament. He was the President of the Janata Party until it merged with BJP
                        (Bharatiya Janata Party). Dr. Swamy has served as a member of the Planning Commission of India
                        and was a Cabinet Minister in the Chandra Shekhar government. Earlier in November 1978, Swamy
                        was member of the Group of Eminent persons and was called to Geneva, Switzerland to prepare a
                        report of the United Nations Conference on Trade and Development (UNCTAD) on Economic
                        Co-operation between Developing countries (ECDC). Swamy also simplified trade procedures and
                        formulated a new export strategy which became the forerunner of trade reform adopted
                        subsequently. In 1994, Swamy was Chairman of the Commission on Labour Standards and
                        International Trade by former Prime Minister P. V. Narasimha Rao.</p>
                    <button class="accordion">Early life and education</button>
                    <div class="panel">
                        <p>Dr.Subramanian Swamy was born in Mylapore, Chennai, Tamil Nadu, India to a family which
                            hailed originally from Madurai in Tamil Nadu. His father, Sitarama Subramanian, was a
                            bureaucrat and his mother, Padmavathi, was a homemaker. He has one younger brother, Ram
                            Subramanian as well as two younger sisters.</p>
                        <p>Sitaraman Subramanian was an officer in the Indian Statistical Service who served as the
                            director of the Central Statistical Institute in Delhi, and was a statistical adviser to the
                            Government of India. The family, which hailed from Madurai in Tamil Nadu, moved to New Delhi
                            when Swamy was only six months old. Due to his father's job and the family's Tamil roots,
                            major national leaders like K. Kamaraj, C. Rajagopalachari and S. Satyamurti often visited
                            Sitaraman.</p>
                        <p>Swamy attended Hindu College, University of Delhi, from where he earned his Bachelors Honours
                            degree in Mathematics. He then took his master's degree in Statistics from the Indian
                            Statistical Institute, Kolkata. He was later recommended by Hendrik S. Houthakker and went
                            to study at Harvard University on a full Rockefeller scholarship, where he received a PhD in
                            Economics in 1965. His thesis adviser was Nobel Laureate Simon Kuznets. In 1963, while he
                            was a doctoral student at Harvard, Swamy worked at the United Nations Secretariat in New
                            York City as an Assistant Economics Affairs Officer. He subsequently worked as a resident
                            tutor at Lowell House at Harvard University and in 1986, served as consultant to the World
                            Bank.</p>
                        <p>While studying at Harvard University, Swamy met Roxna, an Indian lady of Parsi ethnicity who
                            was studying PhD in mathematics at Harvard University. They were married in June 1966.
                            Swamys have two daughters. The elder daughter, Gitanjali Swamy, is an entrepreneur and
                            private equity professional. She is married to Dr. Sanjay Sarma, a professor at MIT, who is
                            the son of E.A.S Sarma, a retired IAS officer and former secretary Economic Affairs to the
                            government of India. The younger daughter, Suhasini Haidar, is a print and television
                            journalist married to Nadeem Haidar, the son of former Indian Foreign Secretary Salman
                            Haidar.</p>
                    </div>
                    <button class="accordion">Academic career</button>
                    <div class="panel">
                        <p>In July 1965, immediately after obtaining his PhD in economics from Harvard, Swamy joined the
                            faculty of economics at the same institution as an assistant professor. In 1969, he was made
                            an associate professor. As associate professor, he was invited by Amartya Sen to occupy the
                            chair on Chinese studies at the Delhi School of Economics. He accepted the offer, and indeed
                            he even travelled to India to take up the position, but his appointment was cancelled at the
                            last minute due to his views on India's economic policy and also its nuclear policy. At that
                            time, India was still partially oriented towards Socialism and the "command economy" model
                            instituted by Nehru, and Swamy was a believer in market economy.</p>
                        <p>Thereafter, Swamy moved to the Indian Institute of Technology, Delhi and he was a full
                            Professor of Mathematical Economics there from 1969 to the early 1970s. He was removed from
                            the position by its board of governors in the early 1970s but was legally reinstated in the
                            late 1990s by the Supreme Court of India. He continued in the position until 1991 when he
                            resigned to become a cabinet minister. He served on the Board of Governors of the IIT, Delhi
                            (1977–80) and on the Council of IITs (1980–82). He also taught economics courses in summer
                            session at Harvard until 2011.</p>
                        <p>Swamy now serves as Chairman of the School of Communication and Management Studies in Kochi.
                        </p>
                    </div>
                    <button class="accordion">Political career</button>
                    <div class="panel">
                        <h3>Early politics</h3>
                        <p>Dr. Swamy's career started with his involvement in the Sarvodaya movement, which was an
                            apolitical movement but which formed the foundation of the creation of Janata Party later.
                            The real turn in his political career came after his sacking from IIT. Liberal economic
                            policies put forward by him didn't go well with the then Prime Minister Indira Gandhi who
                            discredited him as 'Santa Claus with unrealistic ideas'. He was later expelled from Indian
                            Institute of Technology. This marked the beginning of his active political career. Staunch
                            opponent of Indira Gandhi and right wing political party Bharatiya Jana Sangh sent him to
                            Rajya Sabha – the upper house of Indian Parliament.</p>
                        <p>He was elected Member of Parliament 5 times between 1974 and 1999. He has twice represented
                            the city of Mumbai North East during 1977 and 1980, Uttar Pradesh and Tamil Nadu in the
                            Parliament.</p>
                        <p>During the period of the Emergency, he fled to the United States, seeking haven with an
                            Indian businessman in Michigan who had become the spokesperson of the opposition in the
                            United States. In 1976, when the Emergency was still in force and an arrest warrant had been
                            issued in his name, Swamy came to Parliament to attend the session and managed to escape
                            India after the session was adjourned. This act of defiance was well received in the eyes of
                            opposition parties.</p>
                        <p>Dr. Swamy was one of the founding members of the Janata Party and served as its president
                            till 2013.</p>
                        <h3>Electoral history</h3>
                        <ul>
                            <li>1974–76 - Member of Rajya Sabha from Uttar Pradesh, elected on a Jan Sangh party ticket
                            </li>
                            <li>1977-80 - Member of Lok Sabha from Mumbai North-East, elected on a Janata Party ticket
                            </li>
                            <li>1980-84 - Member of Lok Sabha from Mumbai North-East, elected on a Janata Party ticket
                            </li>
                            <li>1988–94 - Member of Rajya Sabha from Uttar Pradesh, elected on a Janata Party ticket
                            </li>
                            <li>1998-99 - Member of Lok Sabha from Madurai, elected on a Janata Party ticket</li>
                            <li>2016 - Member of Rajya Sabha, Nominated Category</li>
                        </ul>
                        <h3>Minister of Commerce and Law of India</h3>
                        <p>During 1990 and 1991, Swamy served as a member of the Planning Commission of India and as
                            Cabinet Minister of Commerce and Law. Albeit uncorroborated, During this period, Swamy
                            claims to have provided the blueprint for the economic reforms in India under Prime Minister
                            Chandra Shekhar which was later carried out in 1991 by Manmohan Singh, then Finance Minister
                            under leadership of Prime Minister Narasimha Rao. In the Narasimha Rao government, Swamy was
                            Chairman of the Commission on Labour Standards and International Trade, which was a
                            Cabinet-rank post. In his book, Swamy asserts that Manmohan Singh acknowledges his role as
                            well.</p>
                        <h3>Later years</h3>
                        <p>Between 1994 and 1996, Swamy was chairman of the Commission on Labour Standards and
                            International Trade (equivalent in rank to a cabinet minister) under Prime Minister P. V.
                            Narasimha Rao. He continued to be president of the Janata Party till 2013. On 11 August
                            2013, Swamy officially joined BJP when its president was Rajnath Singh. His admission to the
                            party would mark the merger of the Janata Party with the Bharatiya Janata Party.</p>
                    </div>
                    <button class="accordion">Court petitions</button>
                    <div class="panel">
                        <h3>Petition to strike down anti-defamation laws</h3>
                        <p>In Oct 2014, Swamy filed a petition in Supreme Court praying for declaring Sections 499 and
                            500 of the Indian Penal Code that deal with criminal defamation as unconstitutional.</p>
                        <h3>Complaint against Jayalalithaa</h3>
                        <p>In 1996, Swamy had filed a criminal complaint against Jayalalithaa which led to her
                            prosecution, conviction and sentencing to four years imprisonment by the trial court in
                            2014. Later, on May 11, 2015, a special Bench of the Karnataka High Court set aside the
                            trial court order convicting former Tamil Nadu Chief Minister Jayalalitha, who was acquitted
                            of all charges in the disproportionate assets case. An Appeal against the High court verdict
                            was filed in Supreme Court. However, keeping personal differences aside, he wished her a
                            speedy recovery on her recent illness and advised she visit Singapore for treatment. The
                            final verdict of Supreme Court came in February, 2017 that indicted Jayalalitha posthumously
                            and upheld the trial court judgement in toto.</p>
                        <h3>Phone tapping allegation</h3>
                        <p>Swamy released a letter alleging that former intelligence chief had asked DoT to tap the
                            phone of many politicians and businessmen in Karnataka when Ramakrishna Hegde, the then
                            Chief Minister, resigned in 1988. Hegde then filed a case against him in 1989 and 1990.</p>
                        <h3>Hashimpura massacre</h3>
                        <p>In 1987, when Muslim youths were killed under police custody, Swamy spoke against it and sat
                            on a fast for more than a week in Jantar Mantar demanding the institution of an inquiry.
                            After 25 years he started pursuing the case once again in court.</p>
                        <p>Rebecca John, a counsel for the Hashimpura complainants, told Additional Sessions Judge
                            Rakesh Siddhartha who is conducting the trial in the case, that "there is no other motive
                            than politics behind Swamy's plea for further investigation and it would only further delay
                            the trial".</p>
                        <h3>Role in exposing 2G spectrum case</h3>
                        <p>In November 2008, Swamy amongst others wrote the first of five letters to Prime Minister
                            Manmohan Singh seeking permission to prosecute A. Raja in regard to 2G spectrum case. After
                            not receiving any response, Swamy decided to file a case on his own in the Supreme Court of
                            India regarding the matter, which then asked the Central Bureau of Investigation to produce
                            a detailed report on it. He further called on the Indian government to re-auction the 2G
                            spectrum without the involvement of Communications Minister Kapil Sibal.</p>
                        <p>On 15 April 2011, he filed a 206-page petition with PM Singh seeking permission to prosecute
                            Sonia Gandhi on charges of corruption. He also raised doubts regarding her acquisition of
                            Indian citizenship. Swamy filed documents in the court to prosecute Minister of Home Affairs
                            P. Chidambaram by including a 15 January 2008 letter written by Chidambaram to Prime
                            Minister Manmohan Singh. Swamy also placed on record the certified copy of the minutes of a
                            meeting between Chidambaram, Raja and the prime minister during the tenure of Raja as the
                            MOC&IT. Since criminal charges were filed against the accused, but no evidence was given by
                            Swamy or the CBI, all the respondents have got bail as of July 2012.</p>
                        <h3>Sanction to prosecute telecom minister A. Raja</h3>
                        <p>On 31 January 2012, the Supreme Court of India accepted Swamy's petition against the Prime
                            Minister's Office in the 2G case, saying that all public authorities should give a sanction
                            within three months against any public official if a request is made for prosecution.</p>
                        <p>The Supreme Court said that Swamy had the locus standi to seek sanction from the Prime
                            Minister for the prosecution of A Raja in the 2G case. Sanction by a competent authority for
                            the prosecution of a public servant has to be granted within a time frame, the apex court
                            said. Justice AK Ganguly said that the sanction would be deemed to be granted if competent
                            authority failed to take a decision within four months.</p>
                        <p>Swamy's arguments were that he wrote to the PMO on 29 November 2008, but it was only on 19
                            March 2010 the PMO replied that the plea made by Swamy was "premature" as investigation was
                            being carried out by the Central Bureau of Investigation (CBI). Raja was arrested by the CBI
                            in the case and got bail on 15 May 2012 after spending nearly 15 months in the Tihar Central
                            Jail.</p>
                        <p>On December 21 2017, the special CBI Court Judge acquitted the accused including A Raja.</p>
                        <h3>Petition to strike down "single directive provision"</h3>
                        <p>In 1997, Swamy filed a petition in the Supreme Court of India to strike down a provision
                            which barred CBI from investigating corruption charges against officers of the rank of joint
                            secretary and above without prior permission of the Govt of India called as "Dr. Subramanian
                            Swamy Versus Director, Central Bureau of Investigation &amp; Anr." On 6 May 2014, a
                            five-judge constitution bench held the single directive provision as invalid and
                            unconstitutional. The court said that "Protection of prior approval for probing graft
                            charges against officers at level of joint secretary and above has propensity of shielding
                            corruption" Experts such as former CBI Director Joginder Singh praised the judgement as
                            "Superb". Incumbent CBI Director Ranjit Sinha welcomed the judgement and said, "now a very
                            heavy responsibility has been cast upon us to ensure that no innocent civil-servant is
                            harassed."</p>
                        <h3>Investigation on EVM</h3>
                        <p>Swamy demanded that an independent committee should be formed to check the security and
                            safety of the Electronic Voting Machines (EVM) to avoid any rigging or tampering. He argued
                            that countries like US, Japan, UK, Germany and Netherlands have abandoned EVMs and are using
                            paper-ballot system and demanded that a printed receipt should be given to every voter after
                            casting the vote. His PIL to investigate the working of EVM was dismissed by the Delhi High
                            Court on 17 January 2012. The court refused to give any direction to the Election Commission
                            to bring back paper-ballot system or use of printed receipts. The Commission argued that the
                            use of paper is not feasible due to the huge size of Indian electorate. The court further
                            asked the Election Commission to "immediately begin a process of wider consultations" and
                            the Parliament "to go into this question in depth and decide".</p>
                        <p>On 22 January 2013 the Election Commission informed the Supreme Court that it would include
                            Voter Verifiable Paper Audit Trail (VVPAT) system which is in the testing phase after the
                            court agreed with some points raised by Swamy who was the contender, in the machines so that
                            every voter will come to know who he/she is voting by getting a printed slip after pressing
                            the EVM button. The voter paper audit trail has then been in use from 4 September 2013.</p>
                        <p>On 8 October 2013 the Supreme Court directed the Election Commission to implement audit trail
                            system in 2014 general election in phases.</p>
                        <h3>National Herald case</h3>
                        <p>On 1 November 2012 Swamy alleged that both Sonia and Rahul Gandhi have committed fraud and
                            land grabbing to a tune of ₹20 billion (US$280 million) by acquiring a public ltd company
                            called Associated Journals Private Ltd (AJPL) through their owned private company, Young
                            Indian which was formed on 23 November 2010. Through this they had got publication rights of
                            National Herald and Qaumi Awaz newspapers, with real estate properties in Delhi and Uttar
                            Pradesh. The acquired place was intended only for newspaper purposes but were used for
                            running a passport office, amounting to lakhs of rupees, it alleges. Swamy further added
                            that Rahul Gandhi hid the facts in his affidavit while filing nomination for the 2009 Lok
                            Sabha elections.</p>
                        <p>It further alleges that on 26 February 2011 AJPL approved the transfer of unsecured loan of
                            ₹900 million (US$13 million) from the All India Congress Committee at zero interest. Dr.
                            Swamy argued that it is illegal for any political party to lend the loan as per violation of
                            Section 269T of Income Tax Act 1961. On 2 November, the party responded that the loan was
                            given only for reviving National Herald newspaper with no commercial interest. Swamy decided
                            to approach the Supreme Court for de-recognising the Congress party, while the Election
                            Commission ordered the probe on 17 November 2012.</p>
                        <p>The hearing of the case had been taken up thereafter on different occasions with the court
                            observing prima facie evidence against all the accused. On 1 August 2014 the Enforcement
                            Directorate initiated probe to find any money laundering in the case while on the same day
                            Swamy was served notice by the High Court. On 28 August the metropolitan court fixed 9
                            December for the next hearing of the case, while on 12 January 2015 the judge of the Delhi
                            High Court recused himself from hearing the case stating that schedule of cases has been
                            changed and directed that the petitions be directed before an appropriate bench. On 27
                            January 2015, the Supreme Court asked Swamy to make out a case for the speedy trial in the
                            Delhi High Court since the petition cannot be heard directly.</p>
                        <p>On 18 September 2015 it was reported that the Enforcement Directorate had reopened the
                            investigation. Following it, on 19 December 2015 Patiala House Court granted unconditional
                            bail immediately on the hearing to all the five accused but one. On 12 July 2016 the Delhi
                            High Court set aside the trial court order of 11 January and 11 March based on plea by Swamy
                            to examine balance sheets of Congress party, AJL and Young Indian from 2010-2013, and fixed
                            the date of next hearing on 20 August. On 26 May 2018 Subramanian Swamy's application in
                            National Herald case dismissed by Delhi court.</p>
                        <h3>Temple Cases</h3>
                        <h4>Nataraja temple case</h4>
                        <p>Dr. Swamy had filed a petition in the Supreme Court with priests of the dikshithar sect
                            challenging the decision of the Madras High Court on transferring the administration of the
                            Nataraja temple to the then Tamil Nadu government in 2009.</p>
                        <p>Swamy on referring to the provisions of Tamil Nadu Hindu Religious and Charitable Endowments
                            Act, contended that Podu Dikshitars have right to administer the temple and argued on
                            handing over the administration on mismanagement grounds of temple's wealth is violation
                            under article 26 of the Constitution of India. On 6 January 2014 the Supreme Court ruled
                            that the administration is to be handed over back to the priests of the temple from the
                            state government.</p>
                        <h3>Ayodhya temple case</h3>
                        <p>On 22 February 2016, Swamy filed a petition in the Supreme Court allowing construction of
                            Rama temple at the disputed site where Babri Masjid was demolished in 1992, and expediting
                            the adjudication related to order of the Allahabad High Court on 30 September 2010, petition
                            was accepted on 26 February to be later heard by the court.</p>
                    </div>
                    <button class="accordion">Campaign against black money</button>
                    <div class="panel">
                        <p>Swamy has been the original campaigner against corruption by bringing into light the 2G case.
                            He founded Action Committee Against Corruption in India (ACACI) on 14 October 2011 and acted
                            as a chairperson. ACACI's goal is to take specific action against corruption at very high
                            places of government and Indian black money stashed abroad, Swamy had mentioned six simple
                            steps in his letter which may recover the money stashed abroad easily.</p>
                    </div>
                    <button class="accordion">Views</button>
                    <div class="panel">
                        <h3>Foreign policy</h3>
                        <h4>China</h4>
                        <p>Swamy has worked towards normalising relations between China and India. According to Swamy,
                            the re-opening of the Kailash Mansarovar pilgrimage route was announced at a meeting
                            convened by the People's Republic of China paramount leader Deng Xiaoping in April 1981, in
                            which Swamy was in attendance. This meeting was widely reported in the media, although such
                            claims have been contested by supporters of former Prime Minister Atal Bihari Vajpayee.</p>
                        <h4>Israel</h4>
                        <p>In various speeches and articles, Swamy has expressed his admiration for, and solidarity
                            with, the State of Israel and has credited its retaliatory capacity for its ability to
                            survive as a nation in a hostile Arab environment. Swamy made pioneering efforts towards
                            India's establishment of diplomatic relations with Israel. In 1982, Swamy became the first
                            Indian political leader to make a well-publicised trip to Israel, where he met with several
                            important Israeli leaders such as Yitzhak Rabin and then-Prime Minister Menachem Begin. His
                            efforts at normalising relations with Israel have borne fruit with both India as well as
                            Israels decision, in 1992, to facilitate the building of embassies in their respective
                            countries.</p>
                        <h4>Sri Lanka and LTTE</h4>
                        <p>Swamy, on several occasions, has voiced support for the state of Sri Lanka in its role during
                            Sri Lanka's protracted civil war with the LTTE, for which he was criticised as "pro Lanka"
                            by his political opponents domestically. In an interview given to The Sunday Leader
                            newspaper, Swamy stated that the Indian government should attend the CHOGM meeting held in
                            Colombo despite stiff opposition from Indian politicians in Tamil Nadu concerned for the
                            welfare and human rights of Tamils in Sri Lanka, placing the onus on the LTTE for human
                            rights violations during the Sri Lankan civil war, he had favoured Mahinda Rajapaksa also
                            during Sri Lanka 2015 election.</p>
                        <h4>United States</h4>
                        <p>Swamy is a strong supporter of U.S. President Donald Trump, endorsing Trump's presidential
                            candidacy in 2016 and comparing Trump to himself.</p>
                        <p>After the Charlottesville riots in August 2017, he posted a tweet urging Indians residing in
                            the United States to "stand with Trump at this hour of his being hunted by cockeyed liberals
                            &amp; Left wing loonies on racism" and praised Trump for "having showed the hypocrites their
                            place by telling it like it is."</p>
                        <p>Following criticism of Pakistan by Trump, Swamy called for closer relations between India and
                            the United States.</p>
                        <h3>Domestic policy</h3>
                        <h4>Kashmir</h4>
                        <p>In September 2008, Swamy stridently retorted against the contentions of some Indian
                            columnists who voiced their opinions in favor of "peacefully" surrendering Kashmir to
                            Pakistan. He said, "I would say that the silent suffering majority of India wants none of
                            this. The 'Kashmir issue,' in fact, can no more be solved by dialogue either with the
                            Pakistanis or the Hurriyat, leave alone the constitutional impossibility of allowing it to
                            secede. Kashmir, in fact, is now our defining identity. It is a touchstone for our resolve
                            to preserve our national integrity. The population of that State may be majority Muslim but
                            the land and its history is predominantly Hindu. For our commitment to the survival of the
                            ancient civilisation of India and the composite culture that secularists talk of, we have
                            not only to win that coming inevitable war but also resolve never to part with Kashmir.
                            Pakistanis often cite the United Nations resolutions on Kashmir to argue for a plebiscite.
                            This obfuscates the fact of accession of the State to India. The legality of the Instrument
                            of Accession signed in favour of India by the then Maharaja of J&K, Hari Singh, on 26
                            October 1947 has to prevail anyway.</p>
                        <h4>Tamil Nadu politics</h4>
                        <p>Swamy is well known for his critical views against the "Aryan versus Dravidian" politics of
                            Periyar E. V. Ramasamy, calling it as the theory forwarded by the British. He has been a
                            staunch opponent of the armed rebel group Liberation Tigers of Tamil Eelam. He also urged
                            the Indian government not to support the US led resolution condemning war crimes in the Sri
                            Lankan Civil War, citing it as one-sided and not in the interest of India. Swamy moved the
                            court and got the order restoring quota for Sri Lankan Tamil refugees in colleges in the
                            state.</p>
                        <p>Swamy obtained Supreme Court Stay against the implementation of Sethusamudram Shipping Canal
                            Project (SSCP). He believes that it would hurt the sentiments of people who believe that
                            this shallow land connecting between Tamil Nadu and Sri Lanka was built by Lord Rama. He
                            strongly opposes the implementation of SSCP citing that implementing this scheme will be a
                            criminal offence under section 295 Indian Penal Code. He wrote letters to Prime Minister of
                            India in June 2009 asking him to stop the project and had informed the Supreme Court on 14
                            October 2015 that the government may not continue with the Sethusamudram Project.</p>
                    </div>
                </div>
        </section>
        <section id="visionpanel">
            <div class="container">
                <div id="visiont">
                    <div id="vision1">
                        <h2>Mission Towards VHS</h2>
                        <p>VHS is created to educate the educated youngsters of India on the heritage and culture of
                            this great land, and to pave way for a Hindu Renaissance based on the concepts of Sanatana
                            Dharma. For the longest time, Hindustan was 100% Hindu and has embraced people from various
                            faiths and allowed them to prosper and assimilate into the society. Sanatana Dharma
                            represents much more than just a religion; rather, it provides its followers with an entire
                            world view, a way of life and with a coherent and rational view of reality.
                        </p>
                        <ul>
                            <li>Rediscover the true identity of a Sanatana Dharmik </li>
                            <li>Project the correct history of Hindustan </li>
                            <li>How to achieve balance in life of materialism and spiritualism </li>
                            <li>Promote Sanskrit as the universal link language</li>
                        </ul>
                    </div>
                    <div id="vision2">
                        <h2>Broad Vision</h2>
                        <div class="imres"><img src="https://www.vhsindia.org/images/imvision.jpg" alt=""></div>
                        <p>To educate the educated youngsters of India on the heritage and culture of this great land,
                            and to pave way for a Hindu Renaissance based on the concepts of Sanatana Dharma.</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <div class="footert1">
            <div class="footert2">
                <div class="container">
                    <div class="slinks">
                        <ul>
                            <li><a href="https://twitter.com/vhsindia" class="slink1"><span>Twitter</span></a></li>
                            <li><a href="https://www.facebook.com/virathindustansangam/"
                                    class="slink2"><span>Facebook</span></a></li>
                            <li><a href="#" class="slink3"><span>YouTube</span></a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <p>Copyright 2022 Virat Hindustan Sangam | All Rights Reserved | </p>
                    <p>Under Naveen Hindustan Foundation</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://www.vhsindia.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="https://www.vhsindia.org/js/script.js" type="text/javascript"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d3e7eeeacebfb5e"></script>
</body>

</html>